# Fictitious Names

### Introduction:

This time you will create a data again 

Special thanks to [Chris Albon](http://chrisalbon.com/) for sharing the dataset and materials.
All the credits to this exercise belongs to him.  

In order to understand about it go [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

Step 2. Create the 3 DataFrames based on the followin raw data

In [2]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [3]:
rawData1 = pd.DataFrame(raw_data_1)
rawData2 = pd.DataFrame(raw_data_2)
rawData3 = pd.DataFrame(raw_data_3)

print ("data1:")
print (rawData1)

print ("data2:")
print (rawData2)

print ("data3:")
print (rawData3)

data1:
  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
data2:
  subject_id first_name last_name
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan
data3:
  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

### Step 3. Assign each to a variable called data1, data2, data3

In [4]:
data1 = raw_data_1
data2 = raw_data_2
data3 = raw_data_3

### Step 4. Join the two dataframes along rows and assign all_data

In [11]:
all_data = pd.concat([data1, data2])
print(all_data)

TypeError: cannot concatenate object of type "<class 'dict'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [12]:
pd.concat([data1, data2], axis=1)

TypeError: cannot concatenate object of type "<class 'dict'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

### Step 6. Print data3

In [13]:
print (data3)

{'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'], 'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 7. Merge all_data and data3 along the subject_id value

In [17]:
mergedAlongId = pd.merge(all_data, data3, on='subject_id')
print (margedAlongId)

NameError: name 'all_data' is not defined

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [18]:
result = pd.merge(data1, data2, on='subject_id', how='inner')
print (result)

ValueError: can not merge DataFrame with instance of type <class 'dict'>

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.